*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lora", serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}
.logo{
    width: 150px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;

color: black;
font-weight: 900;
}
.links:hover{
    color: red;
    text-decoration: underline;
}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Playwrite CU", system-ui;
}
#lname{
    font-family:"Playwrite CU", system-ui ;
    color: orange;
}
#userDetails{
    line-height: 1.2;
}
#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}
.homeimage{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
    position: absolute;
    height: 95%;
    bottom: 3%;
    left: 50%;
    transform:translateX(-50%);
    transition: bottom 3s,left 2s;
}
.homeimage:hover #shape{
    bottom: 60px;
}
.homeImage:hover #girl{
    left: 30px;
}
#about{
    margin: 15% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainhead{
    font-size: 30px;
}
.subhead{
    font-size: 20px;
    color: green;
}
.aboutBody{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,lfr);
    gap: 50px;
    align-items: center;
}
.img1{
    width: 20%;
}
.aboutContent{
    font-size: 20px;
    text-align: justify;
}
.information{
    margin-top: 1.3rem;
}
.infobx>span{
    margin-left: 10px;
}
.skillshead{
text-align: center;
font-size: 20px;
}
.head2{
    font-size: 17px;
    color: green;
}